@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");
body {
    --ultra-dark: #343640;
    --dark: #444654;
    --dark-gray: #858E95;
    --gray: #89899A;
}
body.light {
    --ultra-dark: #f3f3f3;
    --dark: #fff;
    --dark-gray: #858E95;
    --gray: #89899A;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
    outline: none;
    text-decoration: none;
    transition: .2s linear;
}
.main {
    position: fixed;
    height: 100vh;
    width: 100%;
    background-color: var(--dark);
    overflow-y: auto;
}
.input {
    background: var(--ultra-dark);
    width: calc(100% - 78px);
    height: 194px;
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 14px;
    padding-bottom: 24px;
}
.input div {
    width: 100%;
    display: flex;
    justify-content: center;
}
.input input {
    width: 50%;
    height: 46px;
    border-radius: 4px 0 0 4px;
    border: none;
    background: var(--dark);
    padding: 3px 13px;
    color: var(--dark-gray);
    font-size: 14px;
    box-shadow: 0 0 transparent,0 0 transparent, 0 0 15px rgba(0,0,0,.1);
}
.input div button {
    height: 46px;
    width: 46px;
    border-radius: 0 4px 4px 0;
    background: var(--dark);
    border: none;
    color: #89899A;
    cursor: pointer;
}
.input p {
    color: #858E95;
    font-size: 12px;
    text-align: center;
}
form {
    width: 100%;
    display: flex;
    justify-content: center;
}
.message {
    height: auto;
    width: 50%;
    padding: 13px;
}
.chat {
    display: flex;
    text-align: left;
    flex-direction: column;
    align-items: center;
    height: calc(100% - 194px);
    overflow-y: scroll;
    width: calc(100% - 78px);
    float: right;
}
.message .message_content p {
    color: #C9C7B8;
}
.message .message_title p {
    color: var(--gray);
    font-size: 12px;
}
.message .message_title {
    width: 100%;
    height: 42px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: var(--ultra-dark);
    padding: 3px 13px;
    border-radius: 4px 4px 0 0;
    border-bottom: 1px solid #89899A;
}
.message .message_content {
    padding: 13px;
    background: #25262E;
    border-radius: 0 0 4px 4px;
}

::-webkit-scrollbar {
    display: none;
}

@media screen and (max-width: 1500px) {
    .message {
        width: calc(70% - 16px);
    }
}

@media screen and (max-width: 1300px) {
    .message {
        width: calc(80% - 16px);
    }
}

@media screen and (max-width: 1100px) {
    .message {
        width: calc(90% - 16px);
    }
}

@media screen and (max-width: 900px) {
    .message {
        width: calc(100% - 16px);
    }
}
.message {
    opacity: 0;
}
.message.anim {
    opacity: 1;
}
a {
    color: #444654;
    text-decoration: underline;
}


.sidebar {
    height: 100vh;
    width: 78px;
    position: fixed;
    background: #202123;
    display: flex;
    text-align: center;
    flex-direction: column;
}
.sidebar .top {
    width: 100%;
    padding: 8px 0;
    display: flex;
    justify-content: center;
    height: fit-content;
}
.sidebar .top button {
    height: 50px;
    width: 50px;
    background: #89899a25;
    border: none;
    color: #fff;
    cursor: pointer;
    border-radius: 9999px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sidebar .threads {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding: 16px 0;
    height: 256px;
    overflow-y: auto;
}
.sidebar .threads p, .sidebar .settings p{
    min-height: 40px;
    width: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--gray);
    font-size: 18px;
    border-radius: 8px;
    cursor: pointer;
}
.sidebar .settings {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    gap: 8px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 8px 0;
}
.sidebar .settings p {
    height: 50px;
}

.sidebar .settings p:hover, .sidebar .threads p:hover, p.active {
    background: #89899a25;
}

.sidebar {
    display: none;
}
.main.premium .sidebar {
    display: flex;
}

.chat, .input {
    width: 100%;
}
.main.premium .chat, .main.premium .input {
    width: calc(100% - 78px);
}


section.user {
    width: 100%;
    height: 100vh;
    background: var(--ultra-dark);
    display: none;
} 
section.user.show {
    display: flex;
}

.login, .register {
    width: 420px;
    height: 470px;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    background-color: #fff;
    padding: 24px;
    border-radius: 4px;
}
.login.show, .register.show {
    display: flex;
}
.login form, .register form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.login h1, .register h1 {
    font-size: 26px;
    font-weight: 600;
    padding: 24px 0;
    color: #0f0f0f;
    letter-spacing: 1px;
}
.login form input, .register form input {
    height: 50px;
    border-radius: 4px;
    border: 1px solid #D9DDE2;
    background: #fff;
    padding: 3px 16px;
    font-size: 15px;
    color: #0f0f0f;
}
.login form input:focus, .register form input:hover {
    border: 1px solid #10A37F;
}
.login form button, .register form button {
    width: 100%;
    height: 52px;
    border-radius: 4px;
    border: none;
    background: #10A37F;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    margin: 48px 0 0 0;
    cursor: pointer;
}
.login form button:hover, .register form button:hover {
    filter:brightness(.9);
}
.login form p, .register form p {
    color: #0f0f0f;
    font-size: 13px;
    font-weight: 400;
}
.login form p span, .register form p span {
    color: #10A37F;
    cursor: pointer;
}

@media screen and (max-width: 500px) {
    .login, .register {
        width: calc(100% - 16px);
    }
}

#input_log {
    text-decoration: underline;
    color: #10A37F;
    font-size: 12px;
    cursor: pointer;
}

#log_validation, #reg_validation {
    font-weight: 600;
    color: #c71515;
    opacity: 0;
}
#log_validation.show,#reg_validation.show {
    opacity: 1;
}